{% load static %}

<ul id="slide-out" class="sidenav sidenav-fixed  grey darken-2">
    <li>
		<div class="user-view center">
			<a href="#!user"><img class="circle user_picture"
				style="display: block;
					margin-left: auto;
					margin-right: auto; width: 100px; height: 100px;" 
				src="../../../static/images/15-14198-879.jpg"></a>
			<a href="#!name"><span class="white-text name" style="font-size: 24px;">Juan Dela Cruz</span></a>
		</div>
	</li>
    <li><div class="divider"></div></li>
	<li class="sidenav-button"><a href="{% url 'home' %}" class="white-text sidnav-text">Dashboard</a></li>
	<li class="sidenav-button"><a href="#!" class="white-text">Notifications</a></li>
	<li class="sidenav-button"><a href="{% url 'courseMan' %}" class="white-text">Course Management</a></li>
	<li class="sidenav-button"><a href="#!" class="white-text">Program</a></li>
	<li class="sidenav-button"><a href="#!" class="white-text">Faculty</a></li>
	<li class="sidenav-button"><a href="#!" class="white-text">Calendar</a></li>
	<li class="sidenav-button"><a href="#!" class="white-text">Rooms</a></li>
	<li class="sidenav-button"><a href="#!" class="white-text">Reports</a></li>
	<li class="sidenav-button"><a class="sidenav-close hide-on-large-only red-text" href="#!">Close</a></li>
</ul>

<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>